/* global Style */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  font-family: sans-serif;

  margin: 0;
}
.cover {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://taleek.com/img/bg-layer.svg);
  height: 800px;
  background-color: #425583;
}

/* Header */

header {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;
}
.logo img {
  margin-left: 50px;
  width: 50px;
}

header p {
  color: white;
  font-size: 22px;
  display: inline-block;
  position: relative;
  top: -16px;
}

.logo {
  margin-top: 10px;
  height: 100px;
}
nav {
  margin-top: 25px;
}
header nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 15px;
  opacity: 0.5;
  transition: all 0.45s;
}
header nav a:hover {
  opacity: 1;
}

/* Middle */

.middle {
  height: 400px;
  position: relative;
}

h1 {
  color: white;
  animation: taleek-move 5s infinite linear;
  text-align: center;
  font-size: 70px;
}
.main-img {
  animation: main-img 10s infinite;
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.left {
  top: 35%;
  left: 15%;
  position: absolute;
}
button {
  color: white;
  font-size: 25px;
  all: unset;
  padding: 10px 15px;
  display: block;
  margin: 20px 0;
  cursor: pointer;
  background-color: goldenrod;
  transition: 0.3s;
  animation: download-move 3s infinite;
}
button:hover {
  padding: 5px 10px;
  font-size: 20px;
}

/* Wave */
.wave {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 143px;
  background-image: url(wave.png);
  animation: waveani 6s infinite;
}

.wave::before {
  content: "";
  background-image: url(wave.png);
  opacity: 0.5;
  background-size: cover;
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 150px;
  animation: waveani-reverse 9s infinite;
}

/* Footer */

footer {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  height: 120px;
}
h2 {
  padding: 5px;
  margin-top: 10px;
  font-size: 25px;
  color: black;
}

.icons nav a {
  font-size: 25px;
  text-decoration: none;
  padding: 9px;
}
.face {
  color: #2493e1;
}
.insta {
  color: #ff355e;
}
.telgram {
  color: #0066ff;
}
/* Animations */
@keyframes taleek-move {
  0%,
  100% {
    opacity: 1;
    letter-spacing: 8px;
  }
  50% {
    opacity: 0.4;
    letter-spacing: 3px;
  }
}

@keyframes download-move {
  0%,
  100% {
    border-radius: 12px;
  }

  25% {
    border-radius: 10px 100px;
  }
  75% {
    border-radius: 100px 10px;
  }
}

@keyframes main-img {
  0%,
  100% {
    transform: translate(0px);
  }
  50% {
    transform: translate(50px, 50px);
  }
}
@keyframes waveani {
  0%,
  100% {
    background-position: 1000px;
  }
  50% {
    background-position: 500px;
  }
}

@keyframes waveani-reverse {
  0%,
  100% {
    background-position: -1000px;
  }
  50% {
    background-position: -500px;
  }
}
